---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const pages = [
  {
    link: "/scroll-loop",
    title: "Scroll Loop",
    body: "",
    url: "https://tympanus.net/codrops/2020/05/23/an-infinitely-scrollable-vertical-menu/",
  },
  {
    link: "/image-motion-grid",
    title: "Image Motion Grid",
    body: "",
    url: "https://tympanus.net/codrops/2020/06/10/how-to-create-a-motion-hover-effect-for-a-background-image-grid/",
  },
  {
    link: "/image-hover-menu",
    title: "Image Hover Menu",
    body: "",
    url: "https://tympanus.net/codrops/2020/07/01/creating-a-menu-image-animation-on-hover/",
  },
  {
    link: "/stagger-type-reveal",
    title: "Stagger Type Reveal",
    body: "",
    url: "https://tympanus.net/codrops/2020/06/17/making-stagger-reveal-animations-for-text/",
  },
  {
    link: "/scrollable-parallax",
    title: "Scrollable Parallax",
    body: "",
    url: "https://tympanus.net/codrops/2020/12/01/crafting-a-scrollable-and-draggable-parallax-slider/",
  },
  {
    link: "/infinite-scroll-loop",
    title: "Infinite Scroll Loop",
    body: "",
    url: "https://tympanus.net/codrops/2023/01/11/getting-creative-with-infinite-loop-scrolling/",
  },
  {
    link: "/smooth-scroll/basic",
    title: "Smooth Scroll Basic",
    body: "",
    url: "https://tympanus.net/Development/ImagePixelLoading/",
  },
  {
    link: "/smooth-scroll/zoom",
    title: "Smooth Scroll Zoom",
    body: "",
    url: "https://tympanus.net/Development/ScrollAnimationsGrid",
  },
  {
    link: "/smooth-scroll/typography-001",
    title: "Smooth Scroll Typography 01",
    body: "",
    url: "https://tympanus.net/Development/OnScrollTypographyAnimations/",
  },
  {
    link: "/svg-effects/svg-distortion-001",
    title: "SVG Effects: Distortion",
    body: "",
    url: "https://tympanus.net/codrops/2020/03/04/distorted-link-effects-with-svg-filters/",
  },
];
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Welcome to <span class="text-gradient">Codrops Tutorials</span></h1>

    <ul role="list" class="link-card-grid" style="margin-top: 40px;">
      {
        pages.map((page) => (
          <Card
            href={page.link ?? ""}
            title={page.title ?? ""}
            body={page.body ?? ""}
            url={page.url}
          />
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
