---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const pages = [
  {
    link: "/scroll-loop",
    title: "Scroll Loop",
    body: "",
  },
  {
    link: "/image-motion-grid",
    title: "Image Motion Grid",
    body: "",
  },
  {
    link: "/image-hover-menu",
    title: "Image Hover Menu",
    body: "",
  },
];
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Welcome to <span class="text-gradient">Codrops Tutorials</span></h1>

    <ul role="list" class="link-card-grid" style="margin-top: 40px;">
      {
        pages.map((page) => (
          <Card
            href={page.link ?? ""}
            title={page.title ?? ""}
            body={page.body ?? ""}
          />
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
