---
import Layout from "../../layouts/Layout.astro";
---

<style lang="scss">
  :root {
    --color-text: #ddc4a4;
    --color-bg: #0e0e0e;
    --color-link: #ede3e3;
    --color-link-hover: #d68521;
  }

  main {
    background: #000;
    color: var(--color-text);
    min-height: 100vh;
    font-weight: 400;
  }

  .hero {
    position: relative;
    display: grid;
    justify-content: center;
    min-height: 100vh;
    padding-inline: 4rem;

    &__content {
      text-align: center;
      margin-top: 19vh;

      h1 {
        font-size: clamp(2rem, 10vw, 9rem);
        font-weight: 800;
        line-height: 1.2;
        margin-bottom: 0;
      }

      p {
        font-size: clamp(1rem, 6vw, 2.75rem);
        font-weight: 300;
        margin: 0;

        sup {
          font-size: clamp(0.8rem, 4vw, 2rem);
        }
      }
    }

    &__scroll {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -10%);

      p {
        position: relative;
        width: min(100%, 20ch);
        text-align: center;
        margin-inline: auto;
        opacity: 0.6;
        font-size: 14px;

        &::after {
          content: "";
          display: block;

          width: 1px;
          height: 30px;

          background: #fff;

          margin-block: 1rem;
          margin-inline: auto;
        }
      }
    }
  }

  .section__one {
    display: grid;
    place-items: center;
    min-height: 100vh;
    padding-inline: 4rem;

    p {
      width: min(100%, 50ch);
      margin-inline: auto;
      font-size: 1.25rem;
      line-height: 1.5;
      margin-top: 200px;
      margin-bottom: 200px;

      &::before {
        content: ".1";
        display: block;
        text-align: center;
        margin-bottom: 200px;
      }
    }
  }

  .section-base {
    display: grid;
    place-items: center;
    min-height: 100vh;
    padding-inline: 4rem;

    h2 {
      font-size: clamp(2rem, 10vw, 9rem);
      width: min(100%, 10ch);
      margin-inline: auto;
      text-align: center;
      margin-bottom: 0;

      &::before {
        content: ".2";
        font-size: 16px;
        display: block;
        text-align: center;
        margin-bottom: 150px;
      }
    }

    p {
      font-size: 1.25rem;
      line-height: 1.5;
      width: min(100%, 50ch);
      margin-inline: auto;
      margin-top: 150px;
      margin-bottom: 200px;
    }
  }

  .section__two {
    display: grid;
    place-items: center;
    min-height: 100vh;
    padding-inline: 4rem;

    h2 {
      font-size: clamp(2rem, 10vw, 9rem);
      width: min(100%, 10ch);
      margin-inline: auto;
      text-align: center;
      margin-bottom: 0;

      &::before {
        content: ".2";
        font-size: 16px;
        display: block;
        text-align: center;
        margin-bottom: 150px;
      }
    }

    p {
      font-size: 1.25rem;
      line-height: 1.5;
      width: min(100%, 50ch);
      margin-inline: auto;
      margin-top: 150px;
      margin-bottom: 200px;
    }
  }

  .section__three {
    // display: grid;
    // place-items: center;
    // min-height: 100vh;
    // padding-inline: 4rem;

    h2 {
      font-size: clamp(1.5rem, 5vw, 5rem);
      width: min(100%, 20ch);
      //   margin-inline: auto;
      //   text-align: center;
      //   margin-bottom: 0;

      &::before {
        content: ".3";
        // font-size: 16px;
        // display: block;
        // text-align: center;
        // margin-bottom: 150px;
      }
    }
  }

  .section__four {
    // display: grid;
    // place-items: center;
    // min-height: 100vh;
    // padding-inline: 4rem;

    h2 {
      font-size: clamp(1.5rem, 15vw, 14rem);
      line-height: 0.8;
      font-weight: 900;
      //   width: min(100%, 20ch);
      //   margin-inline: auto;
      //   text-align: center;
      //   margin-bottom: 0;

      &::before {
        content: ".4";
        // font-size: 16px;
        // display: block;
        // text-align: center;
        // margin-bottom: 150px;
      }
    }
  }

  .section__five {
    h2 {
      &::before {
        content: ".5";
      }
    }
  }

  .section__nine {
    h2 {
      &::before {
        content: ".9";
        margin-bottom: 60px;
      }
    }
  }

  .section__ten {
    p {
      font-size: clamp(1.5rem, 5vw, 5rem);
      line-height: 1.2;

      &::before {
        content: ".10";
        font-size: 16px;
        display: block;
        text-align: center;
        margin-bottom: 150px;
      }
    }
  }
</style>

<Layout title="Smooth Scroll | Typography 001">
  <main>
    <section class="hero">
      <div class="hero__content">
        <h1>ON-SCROLL</h1>
        <p>Typography Animation<sup>2</sup></p>
      </div>

      <div class="hero__scroll">
        <p>Please scroll moderately to fully experience the animations</p>
      </div>
    </section>

    <section class="section__one">
      <p data-splitting>
        As human beings, we often find ourselves feeling out of place in the
        world around us. We sense that something is not quite right, that the
        reality we experience is not necessarily the truth. And yet, we are
        bound by the beliefs and illusions that have been ingrained in us since
        childhood. It can be a difficult and confusing journey to try and
        unravel these beliefs, to see beyond the layers of deception that cloud
        our vision. We may feel as though we need to make an effort, to strive
        for enlightenment, to grasp at something just beyond our reach. But what
        if the answer is not found in effort, but in surrender? What if we
        simply allow ourselves to be carried by the flow of existence, to trust
        in the natural rhythm of life itself?
      </p>
    </section>

    <section class="section__two section-base">
      <h2 data-splitting>Stubborn <br /> Naivety</h2>
      <p>
        It is in this surrender that we may find the truth of who we are, the
        essence of our being that lies just beyond the veil of illusion. We let
        go of our striving, our constant seeking, and instead allow ourselves to
        be swept up in the infinite mystery of existence.
      </p>
    </section>

    <section class="section__three section-base">
      <h2 data-splitting>SURRENDER TO REALITY <br /> STEP INTO THE LIGHT</h2>
      <p>
        This surrender does not mean giving up, nor does it mean accepting the
        status quo. It is, in fact, quite the opposite. It is a willingness to
        let go of the illusions that have been holding us back, to see beyond
        the limitations of our own beliefs, and to embrace the fullness of life
        itself.
      </p>
    </section>

    <section class="section__four section-base">
      <h2 data-splitting>INTENSE <br /> NATURE</h2>
      <p>
        It is a journey of discovery, of exploration, of coming to know
        ourselves in a deeper and more profound way. And in that journey, we may
        find the truth that has been eluding us, and the freedom that comes with
        it.
      </p>
    </section>

    <section class="section__five section-base">
      <h2 data-splitting>WAKING <br /> LIFE</h2>
      <p>
        So let us surrender ourselves to the flow of existence, and trust in the
        journey that lies before us. For in that surrender, we may find the
        truth, and the beauty that comes with it.
      </p>
    </section>

    <!-- fillll -->

    <section class="section__nine section-base">
      <h2>EMBRACE</h2>
      <p>
        Letting go is not giving up, but rather a courageous act of trust in the
        universe and in ourselves. So let us embrace the art of letting go, and
        discover the freedom and joy that lie beyond our limited notions of
        control.
      </p>
    </section>

    <section class="section__ten section-base">
      <p>
        Feel because you have a heart And let it guide you through the dark. For
        it's the well of emotions deep, That helps you laugh, love, and sleep.
      </p>
    </section>
  </main>
</Layout>

<script>
  import Lenis from "@studio-freight/lenis";
  import Splitting from "splitting";
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/all";

  Splitting();

  gsap.registerPlugin(ScrollTrigger);

  const lenis = new Lenis({
    smooth: true,
  });

  function raf(time: number) {
    lenis.raf(time);

    requestAnimationFrame(raf);
  }

  requestAnimationFrame(raf);

  lenis.on("scroll", () => {
    ScrollTrigger.update();
  });

  const sectionOneTl = gsap.timeline();
  gsap.set(".section__one p", {
    // y: 100,
    transformOrigin: "0% 50%", // corr
    rotate: 1, // corr 3
  });
  gsap.set(".section__one p .word", {
    opacity: 0.1,
    "will-change": "opacity", // corr
    // display: "inline-block",
  });
  sectionOneTl
    .addLabel("start")
    .to(".section__one p .word", {
      opacity: 1,
      // 0.05
      stagger: {
        amount: 3,
        each: 0.1,
      },
      ease: "power2.out", // corr none
      scrollTrigger: {
        trigger: ".section__one",
        start: "-=10%", // corr "top bottom-=20%"
        // end: "center center",
        end: "center top+=20%", // corr
        scrub: true,
      },
    })
    .to(
      ".section__one p",
      {
        // y: 0,
        rotate: 0,
        scrollTrigger: {
          trigger: ".section__one",
          start: "-=10%",
          end: "center center",
          scrub: true,
          // fastScrollEnd: true,
        },
      },
      "start"
    );

  // Section 2
  const sectionTwoH2Chars = [
    ...document.querySelectorAll(".section__two h2 .char"),
  ];
  const sectionTwoH2words = [
    ...document.querySelectorAll(".section__two h2 .word"),
  ];

  gsap.set(".section__two h2 .word", {
    perspective: 1000,
    display: "inline-block",
  });

  // const ran = [65, 125, 37, 210, 77, 194, 17];
  sectionTwoH2Chars.forEach((el, index) => {
    gsap.set(el, {
      "will-change": "opacity, transform",
      opacity: 0,
      // color: "black",
      display: "inline-block",
      // rotateX: index * ran[index % ran.length],
      rotateX: () => gsap.utils.random(-120, 120),
      z: () => gsap.utils.random(-200, 200),
    });
  });
  // sectionTwoH2words.forEach((el) => {
  // el.querySelectorAll(".char").forEach((char, index) => {
  //   gsap.set(char, {
  //     // color: "black",
  //     transformStyle: "preserve-3d",
  //     perspective: "1000px",
  //     display: "inline-block",
  //     // rotateX: ran[index % ran.length],
  //     rotateX: () => gsap.utils.random(-120, 120),
  //     // z: () => gsap.utils.random(-200,200),
  //   });
  // });
  // });

  gsap.to(".section__two h2 .char", {
    rotateX: 0,
    stagger: 0.02,
    z: 0,
    opacity: 1,
    scrollTrigger: {
      trigger: ".section__two h2",
      // start: "top top+=20%",
      // end: "bottom bottom-=100%",
      start: "top bottom",
      end: "bottom top",
      scrub: true,
    },
  });

  // Section 3
  gsap.set(".section__three .word", {
    display: "inline-block",
    perspective: 1000,
  });
  gsap.set(".section__three .char", {
    display: "inline-block",
    opacity: 0.2,
    z: -800,
  });

  gsap.to(".section__three .char", {
    opacity: 1,
    z: 0,
    stagger: 0.04,
    scrollTrigger: {
      trigger: ".section__three h2",
      start: "top bottom",
      end: "bottom top",
      scrub: true,
    },
  });

  // Section 4
  gsap.set(".section__four .word", {
    display: "inline-block",
    perspective: 1000,
  });
  gsap.set(".section__four h2 .char", {
    transformOrigin: "50% 0%",
    display: "inline-block",
    opacity: 0,
    // rotateX: -95,
    rotationX: -90,
    z: -200,
  });

  gsap.to(".section__four h2 .char", {
    opacity: 1,
    rotationX: 0,
    stagger: 0.05,
    z: 0,
    scrollTrigger: {
      trigger: ".section__four h2",
      start: "center bottom",
      end: "bottom top+=20%",
      scrub: true,
    },
  });

  // Section 5
  gsap.set(".section__five .word", {
    display: "inline-block",
    perspective: 1000,
  });
  gsap.set(".section__five h2 .char", {
    transformOrigin: "50% 100%",
    display: "inline-block",
    opacity: 0,
    // rotateX: -95,
    rotationX: 90,
    z: -200,
  });

  gsap.to(".section__five h2 .char", {
    opacity: 1,
    rotationX: 0,
    stagger: {
      amount: 0.05,
      from: "random",
    },
    z: 0,
    scrollTrigger: {
      trigger: ".section__five h2",
      start: "center bottom",
      end: "bottom top+=20%",
      scrub: true,
    },
  });
</script>
